# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# ======================
# Virtual Environment
# ======================
venv/
.env/
.env.*
pip-wheel-metadata/
consumers_env/

# ======================
# AWS Lambda / Build
# ======================
dist/
build/
*.zip

# ======================
# IDEs / Editores
# ======================
.vscode/
.idea/
*.iml

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Test / Coverage
# ======================
.coverage
htmlcov/
.pytest_cache/

# ======================
# Secrets
# ======================
*.pem
*.key
*.crt
secrets.*
